<!DOCTYPE html>
<html>
  <head>
    <title>AboutPaul</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/css/resume.min.css" rel="stylesheet">

    <!-- Custom Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"


    <script src="https://blackrockdigital.github.io/startbootstrap-resume/js/resume.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- Bootstrap core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-resume/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-resume/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-resume/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="https://blackrockdigital.github.io/startbootstrap-resume/js/resume.min.js"></script>



    <%= yield %>
  </body>
</html>
