

  <head>
    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-round-about/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "round-about" %>
  </head>

  <body>


    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4" style="text-align:center;">TEAM 6
        <small></small>
      </h1>
      <br><br>
      <p></p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <%= link_to "#{image_tag("paul.png", class: "rounded-circle img-fluid d-block mx-auto", style: "width:200px;height:200px;")}".html_safe, "/pages/AboutPaul" %>
          <h3>Paul Ancajima
            <small><br>Team Member</small>
          </h3>
          <p></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <%= link_to "#{image_tag("zac.jpg", class: "rounded-circle img-fluid d-block mx-auto", style: "width:200px;height:200px;")}".html_safe, "/pages/AboutZac" %>
          <h3>Zac Henney
            <small><br>Team Lead</small>
          </h3>
          <p></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <%= link_to "#{image_tag("andre.PNG", class: "rounded-circle img-fluid d-block mx-auto", style: "width:200px;height:200px;")}".html_safe, "/pages/AboutAndre" %>
          <h3>Andre Leslie
            <small><br>Team Member</small>
          </h3>
          <p></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
        <%= link_to "#{image_tag("teodora.png", class: "rounded-circle img-fluid d-block mx-auto", style: "width:200px;height:200px;")}".html_safe, "/pages/AboutTeodora" %>
          <h3>Teodora Caneva
            <small><br>Team Member</small>
          </h3>
          <p></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <%= link_to "#{image_tag("amir.jpg", class: "rounded-circle img-fluid d-block mx-auto", style: "width:200px;height:200px;")}".html_safe, "/pages/AboutAmir" %>
          <h3>Abdullah Amir
            <small><br>Team Member</small>
          </h3>
          <p></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <%= link_to "#{image_tag("joe.jpg", class: "rounded-circle img-fluid d-block mx-auto", style: "width:200px;height:200px;")}".html_safe, "/pages/AboutJoe" %>
          <h3>Joe Phabmixay
            <small><br>Team Member</small>
          </h3>
          <p></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4" align="center"></div>
        <div class="col-lg-4 col-sm-6 text-center mb-4" align="center">
          <%= link_to "#{image_tag("rohit.jpg", class: "rounded-circle img-fluid d-block mx-auto", style: "width:200px;height:200px;")}".html_safe, "/pages/AboutRohit" %>
          <h3>Rohit Nair
            <small><br>Team Member</small>
          </h3>
          <p></p>
        </div>
      </div>

    </div>
    <!-- /.container -->



  </body>
