<head><style>
  .drop-here{
    background-color: #fcfbab;
    width: 860px; height: 64px;
  }
  .form-group1{display:inline-block;margin-bottom:0;vertical-align:middle;
    width: 900px;
   }
  .upload-drop-zone { height: 69px; border-color: #a6a6a6; }

</style></head>

<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="upload-drop-zone" id="drop-zone">
    <div class="form-inline">
      <div class="form-group1">
        <div class="drop-here">
        <%= form.file_field :uploads, multiple:true, class: 'drop-here', :required => true %>
        </div>
    </div>
    </div>
  </div> <!--end drop zone --->

  <div class="row">
    <div class="col">
      <%= form.label :image_title %>
      <%= form.text_field :image_title, placeholder: "Enter a Title", class: "form-control", :required => true %>
    </div>
    <div class="col">
      <%= form.label :category %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, { :prompt => 'Select a Category', :selected => @image.category_id }, { class: 'form-control', :required => true }) %>
    </div>
  </div> <!--- first row additional info -->

  <div class="row">
    <div class="form-group col-md-8">
      <%= form.label :description %>
      <%= form.text_area :description, placeholder: "Enter a Description (optional, but recommended)", class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :location %>
      <%= form.text_field :location, class: "form-control", placeholder: "City, State or Country"%>
    </div>
  </div> <!---second row additional info -->

  <div class="actions">
      <%= form.submit %>
  </div>
<% end %> 