<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="upload-drop-zone" id="drop-zone">
    <div class="form-inline">
      <div class="form-group1">
        <%= form.file_field :uploads, multiple:true, class: 'drop-here' %>
    </div>
    </div>
  </div> <!--end drop zone --->

  <div class="row">
    <div class="col">
      <%= form.label :image_title %>
      <%= form.text_field :image_title, placeholder: "Enter image title", class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label :category %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, { :prompt => 'Select a Category', :selected => @image.category_id }, { class: 'form-control' }) %>
    </div>
  </div> <!--- first row additional info -->

  <div class="row">
    <div class="form-group col-md-8">
      <%= form.label :description %>
      <%= form.text_area :description, placeholder: "Enter image description", class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :location %>
      <%= form.text_field :location, class: "form-control" %>
    </div>
  </div> <!---second row additional info -->

  <div class="actions">
      <%= form.submit %>
  </div>
<% end %> 