<p id="notice"><%= notice %></p>



  <% (0...@image.uploads.count).each do |image|  %>


<!--      for each loop all to show all. size: < L*W > to reszie images (NOT THUMBNAIL) Paul Ancajima-->
      <%= image_tag @image.full_size(image) , style: "margin-left: 20px", class: "rounded"%>


  <% end %>


<p>

</p>

<p>
  <strong>Image title:</strong>
  <%= @image.image_title %>
</p>

<p>
  <strong>Image owner:</strong>
 <!--%=  ##@image.user.email  --%>

</p>

<p>
  <strong>Category:</strong>
<!--  Changed to show category name. from category_id to category.name -->
  <%= @image.category.name %>
</p>

<p>
  <strong>Licensing:</strong>
  <%= @image.licensing %>
</p>

<p>
  <strong>Date:</strong>
  <%= @image.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>File type:</strong>
  <%= @image.file_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @image.location %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', home_index_path %> |
<% @image.uploads.each do |upload| %>
  <%= link_to 'Download', upload, download: '' %>
<% end %>
