<!---
  Teodora - File Purpose: Display Images full size. Show information such as meta data
  and allow users to easily download.
  Current Navigation items: Edit & Back - in the future to be removed.
---->

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Style buttons */
    .btn {
      background-color: #28a745;
      border: none; padding: 12px 30px;
      cursor: pointer; font-size: 27px;
      width: 260px; color: white;
    }
    /* Hover over button */
    .btn:hover {
      background-color: #24993f;
    }
    @media screen and (max-width: 1090px) {
      .colresponsive {
        padding-left: 100px;
      } /* for responsive layout so columns appear under eacho ther
          and the metadata is indented below the image preview*/
    }
  </style>
</head>
<p id="notice"><%= notice %></p>

<p style="padding-left: 30px; border: 2px; border-bottom: #1b1e21;">
  <%= link_to 'Back', home_index_path %> |
  <%= link_to 'Edit', edit_image_path(@image) %>
</p><br>

<h3 align="center">Preview & Download Your Image Below</h3><br><br>

<div class="row">
  <div class="col">
    <ul>
      <% (0...@image.uploads.count).each do |image|  %>

        <!--<li>-->
        <!--      for each loop all to show all. size: < L*W > to reszie images (NOT THUMBNAIL) Paul Ancajima-->
        <%= image_tag @image.full_size(image) , :style=>'padding-left: 55px;'%>
        <!--</li>-->

      <% end %>
    </ul>
  </div>
  <p>

  </p>

  <div class="col">
    <div class="colresponsive">
      <p>
        <strong>Image title:</strong>
        <%= @image.image_title %>
      </p>

      <p>
        <strong>Image owner:</strong>
        <%= @image.user.email %>
      </p>

      <p>
        <strong>Category:</strong>
        <!--  Changed to show category name. from category_id to category.name -->
        <%= @image.category.name %>
      </p>

      <% if @image.licensing != nil %>
      <p>
        <strong>Licensing:</strong>
        <%= @image.licensing %>
      </p>
        <% end %>

      <p>
        <strong>Date:</strong>
        <%= @image.created_at %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @image.description %>
      </p>

      <p>
        <strong>File type:</strong>
        <%= @image.file_type %>
      </p>

      <% if @image.location != "" %>
      <p>
        <strong>Location:</strong>
        <%= @image.location %>
      </p>
      <% end %>

      <!-- Download Button -->
      <button class="btn"><i class="fa fa-download"></i>
        <% @image.uploads.each do |upload| %>
          <%= link_to 'Download', upload, download: '' , :style=>'color: white;' %></button>
          </div></div><!---end right column-->
          </div><!----end row--->
        <% end %>