<p id="notice"><%= notice %></p>


<ul>
  <% @image.uploads.each do |upload| %>
    <li>
<!--      for each loop all to show all. size: < L*W > to reszie images (NOT THUMBNAIL) Paul Ancajima-->
      <%= image_tag upload, size: '300x300'  %>
    </li>
  <% end %>
</ul>

<p>
  <strong>Image:</strong>
  <%= @image.image_id %>
</p>

<p>
  <strong>Is approved:</strong>
  <%= @image.is_approved %>
</p>

<p>
  <strong>Image title:</strong>
  <%= @image.image_title %>
</p>

<p>
  <strong>Image owner:</strong>
  <%= @image.image_owner_id %>
</p>

<p>
  <strong>Category:</strong>
<!--  Changed to show category name. from category_id to category.name -->
  <%= @image.category.name %>
</p>

<p>
  <strong>Licensing:</strong>
  <%= @image.licensing %>
</p>

<p>
  <strong>Date:</strong>
  <%= @image.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>File type:</strong>
  <%= @image.file_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @image.location %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
