<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <%= stylesheet_link_tag 'pagination', media: 'all', 'data-turbolinks-track': 'reload' %>

  <title>Infinite Image</title>
</head>


<!-- Page Content -->
<div class="container">
  <!--<h1 class="my-4 text-center text-lg-left">Infinite Image</h1>-->
  <!-- Search -->
  <form>
    <div class="row">
      <div class="col"></div> <!--center search bar -->
      <div class="col-lg-8">
        <div class="input-group">

          <!-- <input type="text" class="form-control" aria-label="..."> -->
          <!-- <input type="submit" value="Search"> -->
          <!-- Using ransack gem to create search field and submission button -->
          <%= render 'images/search_images', images: @images %>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col"></div> <!--center search bar -->
    </div><!-- /.row -->
  </form>
  <!-- End Search -->
  <br>
  <% if @home.count != 0 %>
    <p align="center">Displaying <%= @home.size %> - <%= @home.count %> images</p>
  <% end %>
  <!------- if no images found during search ----------->
  <% if @home.count == 0 %>
    <p style="text-align: center">Sorry we were not able to find what you were looking for, here are some of our
      favorites!</p>
    <div class="row top-buffer">
      <div class="row text-center text-lg-left">
        <!--        show some images -->
        <% @show_all_images.shuffle.each do |image| %>
          <% (0...image.uploads.count).each do |upload| %>
            <% if image.status_id == 1 %>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <%= link_to (image_tag image.thumbnail(upload), class: "img-fluid"), image, class: "d-block mb-4 h-100", target: :_blank %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <!------- if images ARE found during search ----------->
    <div class="row top-buffer">
      <div class="row text-center text-lg-left">
        <% @home.shuffle.each do |image| %>
          <% (0...image.uploads.count).each do |upload| %>
            <% if image.status_id == 1 %>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <%= link_to (image_tag image.thumbnail(upload), class: "img-fluid"), image, class: "d-block mb-4 h-100", target: :_blank %>
              </div>
            <% end %>
          <% end %>
        <% end %>

      </div>

      <!--This will setup links to other pages of results. Paul Ancajima 8/2/18-->

      <%= will_paginate @home, :class=> "apple_pagination"%>

    </div>
    <br>
  <% end %>




</div>
<!-- /.container -->